@import url(http://fonts.googleapis.com/css?family=Quicksand:300);

@import url(http://fonts.googleapis.com/css?family=Quicksand:400);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
.hidden {
  display: none;
}
.nightSide,
.daySide {
  display: table-cell;
  min-height: 100%;
  overflow: hidden;
  vertical-align: top;
  padding-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}
.nightSide .back,
.daySide .back {
  width: 70px;
  height: 20px;
  padding: 0 5px;
  position: fixed;
  visibility: hidden;
  opacity: 0;
}
.nightSide .icon,
.daySide .icon {
  width: 140px;
  height: 140px;
  line-height: 140px;
  opacity: 0.2;
}
.nightSide .common,
.daySide .common {
  display: block;
  width: 800px;
  text-align: center;
}
.nightSide .teaser,
.daySide .teaser {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.7em;
}
.nightSide .title,
.daySide .title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 0.7em;
}
.nightSide h1,
.daySide h1 {
  display: inline;
  font-size: inherit;
  font-weight: inherit;
}
.nightSide .highlight,
.daySide .highlight {
  font-size: inherit;
  padding: 0 0.2em 5px 0.2em;
  margin: 0 -0.2em -6px -0.2em;
  border-radius: 3px;
}
.nightSide .links,
.daySide .links {
  width: 205px;
  text-align: center;
  white-space: nowrap;
  margin: 3em 0;
}
.nightSide .links .link,
.daySide .links .link {
  display: inline-block;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  opacity: 0.2;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nightSide .links .link:hover,
.daySide .links .link:hover {
  opacity: 0.8;
  box-shadow: 2px 3px 0px 1px rgba(6, 108, 126, 0.5), -2px -3px 0px 1px rgba(239, 123, 89, 0.5);
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nightSide .links .link:last-of-type,
.daySide .links .link:last-of-type {
  margin-right: 0;
}
.nightSide .content,
.daySide .content {
  width: 800px;
}
.nightSide li,
.daySide li {
  list-style-type: none;
  font-size: 20px;
  margin: 0.3em 0;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.nightSide span,
.daySide span {
  font-size: 18px;
  margin-bottom: 0.5em;
}
.daySide {
  background: #f0f0f0;
  border-right: 3px solid #bdbdbd;
  color: #141414;
  text-shadow: #ffffff 0px 1px 1px;
}
.daySide .back {
  top: 30px;
  left: -50px;
  text-align: right;
  background: #bdbdbd;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.daySide .back:hover {
  left: 0px;
}
.daySide .icon {
  background: url("png/day.png");
}
.daySide .links .link.github {
  background: url('png/dayGithub.png');
}
.daySide .links .link.twitter {
  background: url('png/dayTwitter.png');
}
.daySide .links .link.gmail {
  background: url('png/dayGmail.png');
}
.daySide .highlight {
  color: #f0f0f0;
  text-shadow: #717171 0px 1px 1px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.daySide .highlight:hover {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  box-shadow: rgba(6, 108, 126, 0.5) 3px 3px 0px, rgba(239, 123, 89, 0.5) -3px -3px 0px;
  background: rgba(0, 0, 0, 0.8);
}
.daySide .content {
  text-align: right;
}
.daySide li:hover {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-shadow: rgba(6, 108, 126, 0.5) 3px 3px 0px, rgba(239, 123, 89, 0.5) -3px -3px 0px;
}
.daySide li:after {
  content: "+";
  display: inline-block;
  position: relative;
  width: 1em;
  right: -1em;
  margin-left: -1em;
  color: #066c7e;
}
.daySide .portfolio .project {
  clear: both;
  margin: 1em 0;
}
.daySide .portfolio .project > h1 {
  float: right;
  vertical-align: top;
  height: 40px;
  width: 200px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.daySide .portfolio .project > .caption {
  float: right;
  clear: both;
}
.daySide .portfolio .project .view {
  display: inline-block;
  vertical-align: top;
  width: 40px;
}
.daySide .portfolio .project .view:nth-last-of-type(1) > .viewContent {
  right: 0;
}
.daySide .portfolio .project .view:nth-last-of-type(2) > .viewContent {
  right: -45px;
}
.daySide .portfolio .project .view:nth-last-of-type(3) > .viewContent {
  right: -90px;
}
.daySide .portfolio .project .view:nth-last-of-type(4) > .viewContent {
  right: -132px;
}
.daySide .portfolio .project .view:nth-last-of-type(5) > .viewContent {
  right: -176px;
}
.daySide .portfolio .project .view:nth-last-of-type(6) > .viewContent {
  right: -220px;
}
.daySide .portfolio .project .view:nth-last-of-type(7) > .viewContent {
  right: -264px;
}
.daySide .portfolio .project .view:nth-last-of-type(8) > .viewContent {
  right: -308px;
}
.daySide .portfolio .project .view:nth-last-of-type(9) > .viewContent {
  right: -352px;
}
.daySide .portfolio .project .view input {
  display: none;
}
.daySide .portfolio .project .view input:checked + label {
  background: #8a8a8a;
}
.daySide .portfolio .project .view input:checked ~ .viewContent {
  display: block;
}
.daySide .portfolio .project .view label {
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  background: #bdbdbd;
  border-radius: 2px;
}
.daySide .portfolio .project .view .viewContent {
  position: relative;
  display: none;
  float: right;
  clear: both;
  margin: 1em 0;
  width: 800px;
}
.nightSide {
  background: #141414;
  border-left: 3px solid #474747;
  color: #f0f0f0;
  text-shadow: #000000 0px 1px 1px;
}
.nightSide .back {
  top: 30px;
  right: -50px;
  text-align: left;
  background: #474747;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.nightSide .back:hover {
  right: 0px;
}
.nightSide .icon {
  background: url("png/night.png");
}
.nightSide .links .link.github {
  background: url('png/nightGithub.png');
}
.nightSide .links .link.twitter {
  background: url('png/nightTwitter.png');
}
.nightSide .links .link.gmail {
  background: url('png/nightGmail.png');
}
.nightSide .highlight {
  color: #141414;
  text-shadow: #939393 0px 1px 1px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.2);
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.nightSide .highlight:hover {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  box-shadow: rgba(239, 123, 89, 0.5) 3px 3px 0px, rgba(6, 108, 126, 0.5) -3px -3px 0px;
  background: rgba(255, 255, 255, 0.8);
}
.nightSide .content {
  text-align: left;
}
.nightSide li:hover {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-shadow: rgba(239, 123, 89, 0.5) -3px -3px 0px, rgba(6, 108, 126, 0.5) 3px 3px 0px;
}
.nightSide li:before {
  content: "+";
  display: inline-block;
  position: relative;
  width: 1em;
  left: -1em;
  margin-right: -1em;
  color: #ef7b59;
}
span#day,
span#night {
  display: none;
}
body:hover .daySide:not(:hover) {
  width: 40%;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .daySide:not(:hover) .icon {
  right: -83px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .daySide:not(:hover) .common {
  right: -453px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .daySide:not(:hover) .links {
  right: -155.5px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .daySide:not(:hover) .content {
  right: -2.999999999999993px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .nightSide:not(:hover) {
  width: 40%;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .nightSide:not(:hover) .icon {
  left: -83px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .nightSide:not(:hover) .common {
  left: -453px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .nightSide:not(:hover) .links {
  left: -155.5px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .nightSide:not(:hover) .content {
  left: -2.999999999999993px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .daySide:hover {
  width: 60%;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .daySide:hover .icon {
  right: -63px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .daySide:hover .common {
  right: -353px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .daySide:hover .links {
  right: -55.500000000000014px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .daySide:hover .content {
  right: 56.99999999999999px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .nightSide:hover {
  width: 60%;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .nightSide:hover .icon {
  left: -63px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .nightSide:hover .common {
  left: -353px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .nightSide:hover .links {
  left: -55.500000000000014px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover .nightSide:hover .content {
  left: 56.99999999999999px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
.daySide {
  cursor: pointer;
  width: 50%;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
.daySide .icon {
  clear: both;
  position: relative;
  float: right;
  right: -73px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
.daySide .common {
  clear: both;
  position: relative;
  float: right;
  right: -403px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
.daySide .links {
  clear: both;
  position: relative;
  float: right;
  right: -105.5px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
.daySide .content {
  clear: both;
  position: relative;
  float: right;
  right: 27px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
.nightSide {
  cursor: pointer;
  width: 50%;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
.nightSide .icon {
  clear: both;
  position: relative;
  float: left;
  left: -73px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
.nightSide .common {
  clear: both;
  position: relative;
  float: left;
  left: -403px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
.nightSide .links {
  clear: both;
  position: relative;
  float: left;
  left: -105.5px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
.nightSide .content {
  clear: both;
  position: relative;
  float: left;
  left: 27px;
  -moz-transition: 0.3999999999999999s;
  -webkit-transition: 0.3999999999999999s;
  -o-transition: 0.3999999999999999s;
  transition: 0.3999999999999999s;
}
body:hover #day:target ~ .daySide:not(:hover) {
  width: 90%;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #day:target ~ .daySide:not(:hover) .icon {
  right: -33px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #day:target ~ .daySide:not(:hover) .common {
  right: -203px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #day:target ~ .daySide:not(:hover) .links {
  right: 94.5px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #day:target ~ .daySide:not(:hover) .content {
  right: 147px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #day:target ~ .nightSide:hover {
  width: 10%;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #day:target ~ .nightSide:hover .icon {
  left: -113px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #day:target ~ .nightSide:hover .common {
  left: -603px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #day:target ~ .nightSide:hover .links {
  left: -305.5px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #day:target ~ .nightSide:hover .content {
  left: -93px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #night:target ~ .nightSide:not(:hover) {
  width: 90%;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #night:target ~ .nightSide:not(:hover) .icon {
  left: -33px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #night:target ~ .nightSide:not(:hover) .common {
  left: -203px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #night:target ~ .nightSide:not(:hover) .links {
  left: 94.5px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #night:target ~ .nightSide:not(:hover) .content {
  left: 147px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #night:target ~ .daySide:hover {
  width: 10%;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #night:target ~ .daySide:hover .icon {
  right: -113px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #night:target ~ .daySide:hover .common {
  right: -603px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #night:target ~ .daySide:hover .links {
  right: -305.5px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
body:hover #night:target ~ .daySide:hover .content {
  right: -93px;
  -moz-transition: 0.19999999999999973s;
  -webkit-transition: 0.19999999999999973s;
  -o-transition: 0.19999999999999973s;
  transition: 0.19999999999999973s;
}
#day:target ~ .daySide {
  cursor: default;
  width: 95%;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#day:target ~ .daySide .back {
  visibility: hidden;
  opacity: 0;
  -moz-transition: 2s;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
#day:target ~ .daySide .icon {
  right: -28.000000000000007px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#day:target ~ .daySide .common {
  right: -178.00000000000003px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#day:target ~ .daySide .links {
  right: 119.49999999999997px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#day:target ~ .daySide .content {
  right: 162px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#day:target ~ .nightSide {
  width: 5%;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#day:target ~ .nightSide .back {
  visibility: visible;
  opacity: 1;
  -moz-transition: 2s;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
#day:target ~ .nightSide .icon {
  left: -118px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#day:target ~ .nightSide .common {
  left: -628px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#day:target ~ .nightSide .links {
  left: -330.5px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#day:target ~ .nightSide .content {
  left: -108px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#night:target ~ .nightSide {
  cursor: default;
  width: 95%;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#night:target ~ .nightSide .back {
  visibility: hidden;
  opacity: 0;
  -moz-transition: 2s;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
#night:target ~ .nightSide .icon {
  left: -28.000000000000007px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#night:target ~ .nightSide .common {
  left: -178.00000000000003px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#night:target ~ .nightSide .links {
  left: 119.49999999999997px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#night:target ~ .nightSide .content {
  left: 162px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#night:target ~ .daySide {
  width: 5%;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#night:target ~ .daySide .back {
  visibility: visible;
  opacity: 1;
  -moz-transition: 2s;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
#night:target ~ .daySide .icon {
  right: -118px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#night:target ~ .daySide .common {
  right: -628px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#night:target ~ .daySide .links {
  right: -330.5px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
#night:target ~ .daySide .content {
  right: -108px;
  -moz-transition: 1.4s;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
@media screen and (max-width: 640px) {
  html {
    width: 640px;
  }
}
