@font-face {
    font-family: Majesti;
    src: url(Majesti-Banner-Medium.otf);
    font-weight:500;
}

@font-face {
    font-family: Majesti;
    src: url(Majesti-Banner-Heavy.otf);
    font-weight:900;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 10vh;
  padding-bottom: 31vh;

  display: flex;
  justify-content: center;
}

body {
  width: 500pt;
}

h1 {
  font-family: Majesti;
  font-weight: 900;
}

.center {
  text-align: center;
}

h1 p {
  font-weight: 500;
}

h1 p:after {
  content: '';
  display: block;
  width: 1.7em;
  height: 6px;
  background: black;
  margin: 1em auto 1em;
}

h1 .big {
  font-size: 200pt;
  display: block;
  position: relative;
  width: 100%;
  line-height: 0.7em;
}

h1 span.first {
  z-index: 1;
  text-align: left;
}

h1 span.second {
  z-index: -1;
  text-align: right;
}

h1 hr {
  position: fixed;
  z-index: 0;
  // top: 0;
  right: 0;

  display: block;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;

  background: linear-gradient(90deg, #82009b, #ff0049, #F49F4C, #00f4c5, #3975b2, #82009b, #ff0049);
  background-size: 600% 600%;
  animation: slider 100s linear infinite;
  transform: skewY(-15deg) translateY(-50pt);
  border: 1px solid transparent;
}

@keyframes slider {
    0%{background-position:0% 50%}
    100%{background-position:100% 50%}
}

.content {
  position: relative;
  z-index: 1;
  font-family: Majesti;
  font-size: 20pt;
}

.title {
  font-family: Majesti;
  font-size: 40pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-15deg);
}

.title > span {
  display: flex;
  overflow: hidden;
}

.title .first {
  padding: 1em 2em 0 .2em;
}

.title .second {
  padding: 0 .2em 1em 2em;
  border-top: 1px solid black;
}

.title > span > span {
  transform: rotate(15deg);
}



.appear.one {
  animation: fade 5s ease .5s both;
}

.appear.two {
  animation: fade 5s ease 3s both;
}

.appear.three, h1 p:after {
  animation: fade 5s ease 4s both;
}

.appear.four {
  animation: fade 5s ease 4.5s both;
}

.appear.five {
  animation: fade 5s ease 7s both;
}

@keyframes fade {
    0%{opacity: 0}
    100%{opacity: 1}
}